# .NET build output
bin/
obj/
../.vs/

# Visual Studio temporary files
*.user
*.suo
*.cache
*.sln.docstates

# NuGet Packages
*.nupkg
packages/

# Test reports and screenshots
Reports/

# IDE-specific files

*.code-workspace
# Other
*.bak
*.log